/* EXTERNAL CDNS */
@import url(http://fonts.googleapis.com/css?family=Quando|Judson|Montserrat);
@import url(https://use.fontawesome.com/releases/v5.5.0/css/all.css);

@import url('styles/boots-bones.css');
@import url('styles/base.css');

/* CUSTOM VARIABLES */
:root {
  --brand-color: #444;
  --header-font: 'Quando', serif;
  --body-font: 'Judson', serif;
  --link-font: 'Montserrat', sans-serif;
}

/***************************************
 * My Header Styles
 ***************************************/
header nav {
  background-color: var(--brand-color);
  width: 100%;
  height: 125px;

  position: sticky;
}

header nav .container {
  display: flex;
  align-items: center;
  height: 100%;
}

header nav .menu-main-menu-container {
  flex: 1;
  height: 100%;
}

header nav ul {
  margin: 0;
  display: flex;
  flex: 1;
  height: 100%;
  padding: 0 20px;
  justify-content: space-between;
}

header nav ul li {
  list-style: none;
  margin: 0;
}

header nav ul li a {
  padding: 0 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.brand-icon {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  height: 100%;
}

.brand-icon i {
  margin-right: 20px;
  font-size: 75px;
}

.brand-icon .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--header-font);
  max-width: 200px;
}

.brand-icon .maintitle {
  font-size: 30px;
}

.brand-icon .subtitle {
  font-size: 15px;
}